
.wrapper {
  display: flex;

}
.container {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider {
  position: relative;
  width: 400px;
}

.slidertrack,
.sliderrange,
.sliderleft-value,
.sliderright-value {
  position: absolute;
}

.slidertrack,
.sliderrange {
  border-radius: 3px;
  height: 5px;
}

.slidertrack {
  background-color: #1e78d1;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.sliderrange {
  background-color: #24eee4;
  z-index: 2;
}

.sliderleftvalue,
.sliderrightvalue {
  color: #e77fd9;
  font-size: 12px;
  margin-top: 20px;
}

.sliderleftvalue {
  left: 6px;
}

.sliderrightvalue {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 400px;
  outline: none;
}

.thumbleft {
  z-index: 3;
}

.thumbright {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #32d35a;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #32d35a;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  /* margin-top: 4px; */
  pointer-events: all;
  position: relative;
}
